﻿@model Event

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/images/@Model.Banner"
                                     class="img-responsive">
                            </div>
                            <div class="col-md-6">
                                <h2>@Model.Name</h2>
                                <h3>@Model.Venue.City.Name</h3>
                                <h4>@Model.Venue.Name</h4>
                                <h4>@Model.Date.ToString("f")</h4>
                                <h4>@Model.Description</h4>
                                <p>
                                    <br>
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    
    <form action="SellTickets" controller="Main" method="post" onsubmit = "return validate_form (this)">
        <div class="form-group">
            <label class="control-label">@Localizer["Price"]</label>
            <input type="number" name="Price" class="form-control" placeholder = "@Localizer["Price"]" title = "Разрешены только цифры"/>
        </div>
        <div class="form-group">
            <label class="control-label">@Localizer["Note"]</label>
            <input type="text" name="Note" class="form-control" />
        </div>
        <input name="EventId" type="hidden" value="@Model.Id" />        
        <div class="form-group">
            <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
        </div>
    </form>
    </div>


<script type="text/javascript">
<!--

        function validate_form(form) {
            var dig = form.Price.value;
            var pat = /^[0-9]+$/;
            var check=pat.test(dig)
            if (check == false) {
                alert("Пожалуйста введите число!");
                return false;
            }
            if (Number(dig)<0) {
                alert("Пожалуйста введите корректное число!");
                return false;
            }
            return true;
        }
//-->
</script>

