﻿@model User

<div class="section">
    <div class="container">
        <hr>
        <div class="row">
            <p>
                <br>
            </p>

            <h3>@Localizer["MyOrders"]</h3>

            <div class="col-md-12">
                @if (Model.Orders.Count() > 0)
                {
                    int i = 1;
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>@Localizer["Event"]</th>
                                <th>@Localizer["Place"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>@Localizer["Status"]</th>
                                <th>@Localizer["TrackingNumber"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Order o in Model.Orders)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@o.Ticket.Event.Name</td>
                                    <td>@o.Ticket.Event.Venue.City.Name</td>
                                    <td>@o.Ticket.Price</td>
                                   
                                    @switch ((int)Enum.Parse(typeof(OrderStatusEnum), o.OrderStatus.Name))
                                    { 
                                        case ((int)OrderStatusEnum.WaitingOrder):
                                            {
                                                <td>@Localizer["WaitingForConfirmation"]</td>
                                                break;
                                            }
                                        case ((int)OrderStatusEnum.ConfirmedOrder):
                                            {
                                                <td>@Localizer["Confirmed"]</td>
                                                <td>@o.TrackingNumber</td>
                                                break;
                                            }
                                        case ((int)OrderStatusEnum.RejectedOrder):
                                            {
                                                <td>@Localizer["Rejected"]</td>
                                                <td>@o.RejectingMessage</td>
                                                break;
                                            }
                                    }
                                </tr>
                                i++;
                            }

                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
