﻿@model UserTicketsViewModel


<div class="section">
    <div class="container">
        <hr>
        <div class="row">
            <p>
                <br>
            </p>

            <h3>@Localizer["MyTickets"]</h3>

            <p>
                <br>
            </p>

            <div class="col-md-12">
                @if (Model.SellingTikets.Count() > 0)
                {
                    <h3>@Localizer["Selling"]</h3>

                    int i = 1;
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>@Localizer["Event"]</th>
                                <th>@Localizer["Place"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>
                                    <div class="col-md-3">

                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket t in Model.SellingTikets)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@t.Event.Name</td>
                                    <td>@t.Event.Venue.City.Name</td>
                                    <td>@t.Price</td>
                                    <td>
                                        <div class="col-md-3">

                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }

                        </tbody>
                    </table>
                }
            </div>

            <div class="col-md-12">
                @if (Model.WaitingTickets.Count() > 0)
                {
                    <h3>@Localizer["WaitingConfirmation"]</h3>

                    int i = 1;
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>@Localizer["Event"]</th>
                                <th>@Localizer["Place"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>
                                    <div class="col-md-3">

                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket t in Model.WaitingTickets)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@t.Event.Name</td>
                                    <td>@t.Event.Venue.City.Name</td>
                                    <td>@t.Price</td>
                                    <td>
                                        <a asp-action="ConfirmOrder" asp-controller="Main" asp-route-ticketId="@t.Id" asp-route-returnUrl="@Context.Request.Path"
                                           class="btn btn-primary">
                                            @Localizer["Confirm"]
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-action="RejectOrder" asp-controller="Main" asp-route-ticketId="@t.Id" asp-route-returnUrl="@Context.Request.Path"
                                           class="btn btn-primary">
                                            @Localizer["Reject"]
                                        </a>

                                    </td>
                                </tr>
                                i++;
                            }

                        </tbody>
                    </table>
                }
            </div>            

            <div class="col-md-12">
                @if (Model.SoldTickets.Count() > 0)
                {
                    <h3>@Localizer["Sold"]</h3>

                    int i = 1;
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>@Localizer["Event"]</th>
                                <th>@Localizer["Place"]</th>
                                <th>@Localizer["Price"]</th>
                                <th>
                                    <div class="col-md-3">

                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket t in Model.SoldTickets)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@t.Event.Name</td>
                                    <td>@t.Event.Venue.City.Name</td>
                                    <td>@t.Price</td>
                                    <td>
                                        <div class="col-md-3">

                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }

                        </tbody>
                    </table>
                }

            </div>

        </div>
    </div>
</div>

