﻿@model Reselling.UIView.Models.Authentication.LoginViewModel

<h2>@Localizer["Login"]</h2>
<p>
    <br />
</p>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">

    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email">@Localizer["InputEmail"]</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email"/>
        </div>
        <div class="form-group">
            <label asp-for="Password">@Localizer["InputPassword"]</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"/>
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer["SignIn"]" class="btn btn-primary" />
        </div>
    </div>
</form>

@section scripts{

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}