﻿@model User

<div class="section">
    <div class="container">
        <hr>
        <div class="row">
            <p>
                <br>
            </p>

            <h3>@Localizer["UserAccountInfo"]</h3>

            <div class="col-md-12">


                <form asp-action="ChangeUserRole" asp-controller="Admin">
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">@Localizer["FirstName"]</label>
                        <input type="text" asp-for="FirstName" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">@Localizer["LastName"]</label>
                        <input type="text" asp-for="LastName" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label">@Localizer["Country"]</label>
                        <input type="text" asp-for="Country" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Adress" class="control-label">@Localizer["Adress"]</label>
                        <input type="text" asp-for="Adress" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">@Localizer["PhoneNumber"]</label>
                        <input type="text" asp-for="PhoneNumber" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="control-label">@Localizer["Role"]</label>
                        <select asp-for="RoleId" asp-items="ViewBag.Roles" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
