﻿@model CitiesListViewModel


<div class="section">

    <h3>
        @Localizer["ListOfCities"]
    </h3>


    <div class="container">
        <hr>
        <div class="row">
            <p>
                <br>
            </p>
            <div class="col-md-12">
                @if (Model.PagingInfo.TotalItems > 0)
                {
                    int i = 1;
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>@Localizer["Name"]</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (City c in Model.CitiesItems)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@c.Name</td>
                                    <td>
                                        <div class="col-md-1">
                                            <a asp-action="UpdateCity" asp-controller="Admin" asp-route-id="@c.Id"
                                               class="btn btn-primary">
                                                @Localizer["Update"]
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-1">
                                            <a asp-action="DeleteCity" asp-controller="Admin" asp-route-id="@c.Id"
                                               class="btn btn-primary">
                                                @Localizer["Delete"]
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                i++;

                            }

                        </tbody>
                    </table>
                }
            </div>
            <div class="col-md-1">
                <a asp-action="CreateCity" asp-controller="Admin"
                   class="btn btn-primary">
                    @Localizer["CreateNew"]
                </a>
            </div>
        </div>
    </div>
</div>
@Html.PageLinks(Model.PagingInfo, x => Url.Action("Cities", new { page = x }))

