﻿@model Event

<div>
    <h3>
        @Localizer["CreateNewEvent"]
    </h3>

    <form asp-action="CreateEvent" asp-controller="Admin" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="VenueId" class="control-label">@Localizer["Venue"]</label>
            <select asp-for="VenueId" asp-items="ViewBag.Venues" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label">@Localizer["Date"]</label>
            <input type="date" asp-for="Date" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">@Localizer["Description"]</label>
            <textarea type="text" asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label">@Localizer["Banner"]</label>
            <input type="file" name="file" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer["Send"]" class="btn btn-default" />
        </div>
    </form>
</div>