﻿@model City

<div>
    <h3>
        @Localizer["CreateNewCity"]
    </h3>

    <form asp-action="CreateCity" asp-controller="Admin">
        <div class="form-group">
            <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer["Send"]" class="btn btn-default" />
        </div>
    </form>
</div>