﻿@model Venue

<div>
    <h3>
        @Localizer["CreateNewVenue"]
    </h3>

    <form asp-action="CreateVenue" asp-controller="Admin">
        <div class="form-group">
            <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label">@Localizer["City"]</label>
            <select asp-for="CityId" asp-items="ViewBag.Cities" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="Adress" class="control-label">@Localizer["Adress"]</label>
            <input type="text" asp-for="Adress" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer["Send"]" class="btn btn-default" />
        </div>
    </form>
</div>