﻿@model City

<div>

    <h3>
        @Localizer["DeleteCity"]
    </h3>

    <hr>
    <h4>@Localizer["Danger"]</h4>
    <hr>
    <div class="col-md-12">
        <h5>   @Localizer["Name"] : @Model.Name </h5>
    </div>



    <div>


        <form asp-controller="Admin" asp-action="DeleteCity" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="@Localizer["Delete"]" />
            </div>
        </form>
    </div>
</div>
