﻿@model Venue

<div>

    <h3>
        @Localizer["DeleteVenue"]
    </h3>

    <hr>
    <h4>@Localizer["Danger"]</h4>
    <hr>

    <div class="col-md-12">
        @Localizer["Name"] : @Model.Name
    </div>
    <div class="col-md-12">
        @Localizer["City"] : @Model.City.Name
    </div>
    <div class="col-md-12">
        @Localizer["Adress"] : @Model.Adress
    </div>

    <div>
        <form asp-controller="Admin" asp-action="DeleteVenue" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="@Localizer["Delete"]" />
            </div>
        </form>
    </div>
</div>
