﻿@model Event

<div>

    <h3>
        @Localizer["DeleteEvent"]
    </h3>

    <hr>

    <div class="col-md-12">
        @Localizer["Name"] : @Model.Name
    </div>
    <div class="col-md-12">
        @Localizer["City"] : @Model.Venue.City.Name
    </div>
    <div class="col-md-12">
        @Localizer["Adress"] : @Model.Venue.Adress
    </div>
    <div class="col-md-12">
        @Localizer["VenueName"] : @Model.Venue.Name
    </div>
    <div class="col-md-12">
        @Localizer["Date"] : @Model.Date.ToString("f")
    </div>
    <div class="col-md-12">
        @Localizer["Description"] : @Model.Description
    </div>
    <div>
        <form asp-controller="Admin" asp-action="DeleteEvent" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="@Localizer["Delete"]" />
            </div>
        </form>
    </div>
</div>
