﻿@model EventsListViewModel


<div class="section">

    <h3>
        @Localizer["ListOfEvents"]
    </h3>


    <div class="container">
        <hr>
        <div class="row">
            <p>
                <br>
            </p>
            <div class="col-md-12">
                @if (Model.PagingInfo.TotalItems > 0)
                {
                    int i = 1+(Model.PagingInfo.CurentPage-1)*Model.PagingInfo.ItemsRerPage;
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>@Localizer["Name"]</th>
                                <th>@Localizer["City"]</th>
                                <th>@Localizer["Venue"]</th>
                                <th>@Localizer["Date"]</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Event e in Model.EventsItems)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@e.Name</td>
                                    <td>@e.Venue.City.Name</td>
                                    <td>@e.Venue.Name</td>
                                    <td>@e.Date</td>
                                    <td>
                                        <div class="col-md-1">
                                            <a asp-action="UpdateEvent" asp-controller="Admin" asp-route-id="@e.Id"
                                               class="btn btn-primary">
                                                @Localizer["Update"]
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-1">
                                            <a asp-action="DeleteEvent" asp-controller="Admin" asp-route-id="@e.Id"
                                               class="btn btn-primary">
                                                @Localizer["Delete"]
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                i++;

                            }

                        </tbody>
                    </table>
                }
            </div>
            <div class="col-md-1">
                <a asp-action="CreateEvent" asp-controller="Admin"
                   class="btn btn-primary">
                    @Localizer["CreateNew"]
                </a>
            </div>
        </div>
    </div>
</div>
@Html.PageLinks(Model.PagingInfo, x => Url.Action("Events", new { page = x }))

