﻿@model City

<div class="section">
    <div class="container">
        <hr>
        <div class="row">
            <p>
                <br>
            </p>

            <h3>@Localizer["UpdateCity"]</h3>

            <div class="col-md-12">
                <form asp-action="UpdateCity" asp-controller="Admin">
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                        <input type="text" asp-for="Name" class="form-control" />
                    </div>                    
                    <div class="form-group">
                        <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
