﻿@model Venue

<div class="section">
    <div class="container">
        <hr>
        <div class="row">
            <p>
                <br>
            </p>

            <h3>@Localizer["UpdateVenue"]</h3>

            <div class="col-md-12">
                <form asp-action="UpdateVenue" asp-controller="Admin">
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                        <input type="text" asp-for="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label">@Localizer["City"]</label>
                        <select asp-for="CityId" asp-items="ViewBag.Cities" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Adress" class="control-label">@Localizer["Adress"]</label>
                        <input type="text" asp-for="Adress" class="form-control" />
                    </div>              
                    <div class="form-group">
                        <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
