﻿@model Event

<div class="section">
    <div class="container">
        <hr>
        <div class="row">
            <p>
                <br>
            </p>

            <h3>@Localizer["UpdateEvent"]</h3>

            <div class="col-md-12">
                <form asp-action="UpdateEvent" asp-controller="Admin" enctype="multipart/form-data">
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                        <input type="text" asp-for="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="VenueId" class="control-label">@Localizer["Venue"]</label>
                        <select asp-for="VenueId" asp-items="ViewBag.Venues" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label">@Localizer["Date"]</label>
                        <input type="date" asp-for="Date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">@Localizer["Description"]</label>
                        <textarea type="text" asp-for="Description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <img src="~/images/@Model.Banner" class="img-responsive">
                        <label class="control-label">@Localizer["Banner"]</label>
                        <input type="file" name="file" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
