﻿@model UsersListViewModel


<div class="section">

    <h3>
        @Localizer["ListOfUsers"]
    </h3>


    <div class="container">
        <hr>
        <div class="row">
            <p>
                <br>
            </p>
            <div class="col-md-12">
                @if (Model.PagingInfo.TotalItems > 0)
                {
                    int i = 1+(Model.PagingInfo.CurentPage-1)*Model.PagingInfo.ItemsRerPage;
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>@Localizer["FirstName"]</th>
                                <th>@Localizer["LastName"]</th>
                                <th>@Localizer["Email"]</th>
                                <th>@Localizer["Role"]</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (User u in Model.UsersItem)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@u.FirstName</td>
                                    <td>@u.LastName</td>
                                    <td>@u.Email</td>
                                    <td>@u.Role.Name</td>
                                    <td>
                                        <div class="col-md-1">
                                            <a asp-action="ChangeUserRole" asp-controller="Admin" asp-route-id="@u.Id"
                                               class="btn btn-primary">
                                                @Localizer["ChangeRole"]
                                            </a>
                                        </div>
                                    </td>                                    
                                </tr>
                                i++;

                            }
                        </tbody>
                    </table>
                }
            </div>            
        </div>
    </div>
</div>
@Html.PageLinks(Model.PagingInfo, x => Url.Action("Events", new { page = x }))

