﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


<div class="collapse navbar-collapse" id="navbar-ex-collapse">
    @if (Context.User.IsInRole("Admin"))
    {
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"> @Localizer["AdminManagement"] <span class="caret"></span>
                </a>
                <ul class='dropdown-menu'>
                    <li>
                        <a asp-action="Cities" asp-controller="Admin">@Localizer["ManageCities"]</a>
                    </li>
                    <li>
                        <a asp-action="Venues" asp-controller="Admin">@Localizer["ManageVenues"]</a>
                    </li>
                    <li>
                        <a asp-action="Events" asp-controller="Admin">@Localizer["ManageEvents"]</a>
                    </li>
                    <li>
                        <a asp-action="Users" asp-controller="Admin">@Localizer["ManageUsers"]</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
</div>