﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


<div class="collapse navbar-collapse" id="navbar-ex-collapse">
    <ul class="nav navbar-nav navbar-right">
        @if (Context.User.Identity.IsAuthenticated)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    @Context.User.Identity.Name
                    <span class="caret"></span>
                </a>
                <ul class='dropdown-menu'>
                    <li>
                        <a asp-action="MyOrders" asp-controller="User">@Localizer["MyOrders"]</a>
                    </li>
                    <li>
                        <a asp-action="MyTickets" asp-controller="User">@Localizer["MyTickets"]</a>
                    </li>
                    <li>
                        <a asp-action="MyAccount" asp-controller="User">@Localizer["Settings"]</a>
                    </li>

                    <li>
                        <hr class="hr-drop" />
                        <a asp-action="Logout" asp-controller="Account">@Localizer["Logout"]</a>
                    </li>
                </ul>
            </li>
        }
        else
        {

            <li>
                <a asp-action="Register" asp-controller="Account">@Localizer["Register"]</a>
            </li>
            <li>
                <a asp-action="Login" asp-controller="Account">@Localizer["Login"]</a>
            </li>
        }
        <li>
            @await Html.PartialAsync("_SelectLanguagePartial")
        </li>
    </ul>
</div>